.wrapper {
    border: 1px solid black;
    border-radius: 2px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.row.header {
    background-color: rgb(107, 106, 106);
}

.row.results {
    display:flex;
    align-items:center;
}

.row.results:nth-child(odd) {
    background-color: rgb(173, 171, 171);
}

.col-1, .col-2, .col-3, .col-7, .col-8, .col-9 {
    display: inline-block;
    width: auto;
}

.col-3, .col-9, label {
    vertical-align:top;
}

.col-9 {
    text-align:right;
    padding: 0;
}

label {
    display: block;
    margin-bottom: 1.25em;
}

input, textarea {
    margin-bottom: 10px;
    width: 300px;
}

.submit {
    width: 100px;
}

.course_name, .description {
    display: block; 
}

ul.topnav{
    list-style-type: none;
    padding-left: 0px;
    width: 100%;
}

.topnav li {
    display: inline-block;
    margin-left: 0;
}

.messages, h1, h2, h3, h4, h5{
    width: 100%;
}

.row.header h2 {
    margin: .2em;
}

.btn.btn-primary {
    margin-top: 5px;
}

.inline {
    display: inline-block;
}

.strong {
    font-weight: bold;
}

.redtext, .red, .errors {
    color : red;
}

.greentext, .green, .successes {
    color : green;
}